<div >
  <h1>Obama</h1>
<ul>
  <% @results.items.each do |result| %>
  <li>
    <%= result.title %>
  </li>

  <% end %>

</ul>




</div>
<div >
  <h1>Lebron James</h1>
<ul>
  <% @results2.items.each do |result2| %>
  <li>
    <%= result2.title %>
  </li>

  <% end %>

</ul>




</div>
<div >
  <h1>cnn</h1>
<ul>
  <% @results3.items.each do |result3| %>
  <li>
    <%= result3.title %>
  </li>

  <% end %>

</ul>




</div>


<!-- <script>
  (function() {
    var cx = '017457375866051458984:1chnlowp3_c';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();


</script>
<div class="news-pane-size">
  <gcse:searchbox enableHistory="true" autoCompleteMaxCompletions="5" autoCompleteMatchType='any'>


</div>
<div class="news-pane-size">
  <gcse:searchresults refinementStyle="link">


</div> -->
